################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/PROXY-MELI/bin/Debug/netcoreapp2.2
/.vs/PROXY-MELI/v15
/PROXY-MELI-AWS/bin/Debug/netcoreapp2.2
