@{
    ViewData["Title"] = "Home Page";
}
@model PROXY_MELI_DATABASE.Models.Rule

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

<h1 class="display-4"> Admin</h1>
<div class="row">
    <div class="col-sm-7">
        <div class="container">
            <table id="table" class="table-responsive" cellspacing="0" width="650">
                <thead>
                    <tr>
                        <th data-field="ip"> IP</th>
                        <th data-field="path"> Path</th>
                        <th data-field="rateLimit"> Rate Limit</th>
                        <th data-field="blockedTime"> Blocked Time</th>
                        <th data-formatter="imageFormatter" class="btn_delete"> Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <form asp-controller="Admin" asp-action="SaveUpdateKey" id="formKey" autocomplete="off"
              data-ajax-success="onSuccessSaveUpdateKey"
              data-ajax="true" data-ajax-method="POST">
            <input type="hidden" id="keyRuleRedis">
            <div class="form-group">
                <label for="ipInput">IP</label>
                <input type="text" class="form-control ip" asp-for="Ip" placeholder="Enter IP">
            </div>
            <div class="form-group">
                <label for="pathInput">Path</label>
                <input type="text" class="form-control path" asp-for="Path" placeholder="Enter Path">
            </div>
            <div class="form-group">
                <label for="RateLimitInput">Rate Limit</label>
                <input type="text" class="form-control rateLimit" asp-for="RateLimit" placeholder="Enter number Rate Limit">
            </div>
            <div class="form-group">
                <label for="BlockedTimeInput">Blocked Time</label>
                <input type="text" class="form-control blockedTime" asp-for="BlockedTime" placeholder="Enter number Blocked Time">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Rule?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this rule?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary primary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">$(document).ready(function () {
        loadTable();
    });

    function clickDelete(obj) {
        var key = $(obj).attr('key');
        $('#modalDelete').modal('show')

        $('#modalDelete .primary').click(function () {
            $.get("/Admin/DeleteRule", { id: key })
                .done(function (data) {
                    $('#modalDelete').modal('hide')
                    location.reload();
                });
        });
    }

    function onSuccessSaveUpdateKey(obj) {
        location.reload();
    }

    function imageFormatter(value, row) {
        var value = "/images/x.png";
        return '<input type="image" key="' + row.keyRuleRedis + '" onclick="clickDelete(this)" src="' + value + '" alt="delete the rule?" height="30" width="30" />';
    }

    function loadTable() {
        $.get("/Admin/GetRules").done(function (data) {
            $('#table').bootstrapTable({
                data: data,
                pagination: true,
                search: true,
                onClickRow: function (row, $element) {
                    var key = row.keyRuleRedis
                    $.get("/Admin/GetRule", { id: key }).done(function (data) {
                        $('.ip').val(data.ip);
                        $('.path').val(data.path);
                        $('.rateLimit').val(data.rateLimit);
                        $('.blockedTime').val(data.blockedTime);
                    });
                }
            })
        });
    }</script>
